# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/
*.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Mypy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest cache
.pytest_cache/

# Alembic
migrations/versions/*.pyc
migrations/versions/__pycache__/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
postgres-data/
*.log
*.sqlite3
*.db

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

